@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

:root {
  --border-colorcontainer: #e8e8e8;
  --border-color-edit: #c4c4c4;
  --border-color-logout: #ff9494;
  --border-color-input: #e0e0e0;

  --background-color-edit: #e0e0e0;
  --background-color-logout: #ffcccc;
  --background-color-kakaologin: #f7e600;
  --background-color-googlelogin: #ffffff;
  --background-color-input: #f5f5f5;

  --radius-button: 8px;
  --radius-container: 12px;

  --padding-button: 10px 1rem;
  --padding-container: 1rem;

  --text-size-main-title: 1.5rem;
  --text-size-container-title: 18px;

  --text-color-logout: #cf3c3c;
  --text-color-edit: #333333;
}
